

/* Working Memory */
.center-fit {
    width:70%;
    height:auto;
    overflow:hidden;
    display:block;
    margin: auto;
}

.WMT_instr {
    font-size: 26px;
}
.WMT_feedback {
    font-size: 36px;
}

